version: "3.1"

services:
  nginx:
    image: nginx:1.15
    container_name: nginx
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80

  flask:
    build:
      context: ./main
      dockerfile: Dockerfile
    container_name: flask
    volumes:
      - ./:/var/www

  flask2:
    build:
      context: ./sub
      dockerfile: Dockerfile
    container_name: flask2
    volumes:
      - ./:/app/sub
